.shop {
  .aside {
    margin: 80px 0 0 200px;
    background-color: $light-brown;
    width: 20%;

    &-cart {
      display: flex;
      flex-direction: column;
      border-bottom: 1px solid white;
      padding: 30px 0 0 20px;
      font-family: $font;
      color: $orange;

      width: 100%;
      height: 200px;

      &-list {
        font-family: $font;
        color: white;
        list-style-type: none;
        padding: 0;
      }
    }

    &-filter {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 210px;
      padding: 30px 0 0 20px;
      background-color: $light-brown;
      color: $orange;
      font-family: $font;

      .filter-button {
        width: 100px;
        height: 30px;
        border: none;
        background-color: $orange;
        color: white;
        margin-left: 80px;
      }
      .filter-price-range {
        margin-left: 50px;
        padding-top: 5px;
        color: initial;
      }
    }

    &-categories {
      width: 100%;
      height: 300px;
      padding: 30px 0 0 20px;
      color: $orange;
      font-family: $font;
      background-color: $light-brown;

      .categories-list {
        color: initial;
        list-style-type: circle;
        font-family: $font;
        padding-left: 20px;

        .categories-list-item {
          padding: 5px 0;
        }
      }
    }
  }
}
