.page-loader {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  align-items: center;
  justify-content: center;
  background-color: $light-brown;
  z-index: 20;

  &.show {
    display: flex;
  }

  &-circle {
    width: 60px;
    height: 60px;
    border: 8px solid #fff;
    border-radius: 50%;
    border-top: 8px solid $yellow;
    animation: spin 1s linear infinite;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
