.page-modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 10;

  &.show {
    display: flex;
  }

  &-content {
    position: relative;
    max-height: 80vh;
    width: 35%;
    max-width: 800px;
    padding: 20px;
    background-color: $light-brown;
    overflow-y: auto;

    &-image {
      display: block;
      height: 200px;
      margin: 0 auto;
    }

    &-close {
      cursor: pointer;
      position: absolute;
      top: 10px;
      right: 10px;
      color: $orange;
      font-size: 30px;

      &:hover {
        color: $yellow;
      }
    }
  }
}
