.page-modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.4);
  font-family: $font;

  &.show {
    display: flex;
  }

  &-content {
    position: relative;
    width: 35%;
    max-width: 800px;
    max-height: 80vh;
    padding: 20px;
    background-color: $light-brown;
    overflow-y: auto;

    &-ingredients > li {
      font-weight: 600;

      ul {
        font-weight: normal;
      }
    }

    &-image {
      display: block;
      height: 200px;
      margin: 0 auto;
    }

    &-text {
      font-weight: 600;
    }

    &-close {
      position: absolute;
      top: 10px;
      right: 10px;
      color: $orange;
      font-size: 30px;
      cursor: pointer;

      &:hover {
        color: $yellow;
      }
    }

    span {
      font-weight: 600;
    }
  }
}
